<!-- Sidebar  -->

<nav id="sidebar">
    <ul class="list-unstyled components">
        <li onclick="toggleActive(this)">@Html.ActionLink("Admin Dashboard", "Index", "Admin")</li>
        <li onclick="toggleRotate(this)" class="dropdown">
            <a href="#ProfileMngmtSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile Management<span class="arrowSide"></span></a>
            <ul class="collapse list-unstyled" id="ProfileMngmtSubmenu">
                <li onclick="toggleActive(this)">@Html.ActionLink("Manage Profile", "Index", "Manage")</li>
                <li onclick="toggleActive(this)">@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
            </ul>
        </li>

        <li onclick="toggleRotate(this)" class="dropdown">
            <a href="#UserMngmntSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User Management<span class="arrowSide"></span></a>
            <ul class="collapse list-unstyled" id="UserMngmntSubmenu">
                <li onclick="toggleActive(this)">@Html.ActionLink("Add New Admins", "AddNewAdmins", "Manage")</li>
                <li onclick="toggleActive(this)">@Html.ActionLink("Manage Admins", "ManageAdmins", "Manage")</li>
            </ul>
        </li>
        <li onclick="toggleActive(this)">@Html.ActionLink("Category Management", "Index", "Categories")</li>
        <li onclick="toggleActive(this)">@Html.ActionLink("Product Management", "Index", "Products")</li>
        <li onclick="toggleActive(this)">@Html.ActionLink("Stock Adjustment", "StockAdjustment", "Products")</li>
        <li onclick="toggleActive(this)">@Html.ActionLink("Orders Management", "Index", "Order")</li>
        <li onclick="toggleActive(this)">@Html.ActionLink("Reports", "Index", "Reporting")</li>

    </ul>
</nav>